ion-calendar {
  .calendar-controls ion-col[width-25] button {
    margin-top: 20% !important;
  }

  .calendar-week-day {
    max-width: 15%;
  }

  .calendar-day {
    font-size: 1.4em;
  }

  .selected {
    background-color: #30d05f !important;
    color: white;
  }

  .hasEvents {
    border-bottom: 2px solid red;
  }

  .selectedMonthLabel {
    text-transform: capitalize;
    margin-bottom: 0px;
  }
}
