ion-calendar {
  .calendar-controls ion-col[width-25] button {
    margin-top: 20% !important;
  }

  .calendar-row {
    max-height: 40px;

    .calendar-col {
      padding: 0px;
      margin: 5px;

      button {
        max-height: 32px;
      }
    }
  }

  .calendar-week-day {
    max-width: 15%;
  }

  .calendar-day {
    font-size: 1.3em;
  }

  .selected {
    background-color: #30d05f !important;
    color: white;
  }

  .hasEvents {
    border-bottom: 2px solid red;
  }

  .selectedMonthLabel {
    text-transform: capitalize;
    margin-bottom: 0px;
  }
}
