<div class="calendar-container">
    <ion-grid>
        <ion-row class="calendar-controls">
            <ion-col width-25 text-left>
                <button ion-button icon-only (click)="previousMonth()">
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-col>
            <ion-col width-50 text-center class="selectedDateLabel">
                <h5 class="selectedMonthLabel">{{ currentDate | date:'MMMM yyyy' }}</h5>
                <button (click)="setToday()" ion-button small outline>Hoje</button>
            </ion-col>
            <ion-col width-25 text-right>
                <button ion-button icon-only (click)="nextMonth()">
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>
            </ion-col>
        </ion-row>

        <ion-row class="calendar-weekDays">
            <ion-col text-center class="calendar-week-day">
                Dom
            </ion-col>
            <ion-col text-center class="calendar-week-day">
                Seg
            </ion-col>
            <ion-col text-center class="calendar-week-day">
                Ter
            </ion-col>
            <ion-col text-center class="calendar-week-day">
                Qua
            </ion-col>
            <ion-col text-center class="calendar-week-day">
                Qui
            </ion-col>
            <ion-col text-center class="calendar-week-day">
                Sex
            </ion-col>
            <ion-col text-center class="calendar-week-day">
                Sáb
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let row of rows" class="calendar-row">
            <ion-col *ngFor="let day of row" text-center class="calendar-col">
                <button no-padding block class="calendar-day" ion-button clear (click)="dateClicked(day)" id="calendar-day-{{day}}">
                    {{ day }}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list>
        <ion-item *ngFor="let event of todayEvents">
            {{ event.title }}
        </ion-item>
    </ion-list>
</div>